.products{
    width: 100%;
}

.product{
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.product .img {
    border-radius: 1rem;
}

.product .img img{
    height: 100%;
    width: 100%;
}

.product p {
    font-size: 1.2rem;
}