.banner{
    width: 100%;
    height: 600px ;
    position: relative;
}

.banner img{
    width: 100%;
    max-height: 100%;
}

.aboutBanner{
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    padding: 1rem;
}

.aboutBanner p {
    color: #fff;
    font-size: 1.2rem;
    margin: auto 0;
    width: 45%;
    padding-left: 2rem;
}
